.entry {
    padding-bottom: 0rem;
}

.first-row {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag-color {
    color: #16caa9;
}

.highlightedText {
    background-color: #fdf293;
}