nav {
  display: fixed;
  margin: 0;
  background-color: #4e4e4e;
  height: 2.5rem;
  padding-left: 20%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.label {
  color: white;
  padding-right: 0.5rem;
}

@media screen and (max-width: 400px) {
  nav {
    padding-left: 5%;
  }
}
