.topics {
    margin-top: 0rem;
    padding: 1rem 1rem 0rem 1rem;
    margin-left: 20%;
    margin-right: 20%;
    transition: background 0.3s ease;
}

.topic-button {
    margin-top: 1rem;
}

.topic-title {
    color: #1b1b1b;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logged-entry {
    padding-top: 0rem;  
}

.add-topic {
    padding: 2rem 1rem 0rem;
    margin-right: 20%;
    margin-left: 20%;
}

// overview topics

.ov-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.ov-title {
    padding-top: 1rem;
    display: flex;
    align-items: flex-end;
}

.ov-entry {
    padding-left: 1rem;
    display: flex;
    align-items: flex-end;
}

// topics overview

.to-first-row {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem 0rem;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1rem;
}

.to-button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover{
        background: rgb(65,65,65);
        color: white;
    }
}

// add topic 

.labels {
    padding-left: 4px;
    padding-right: .5rem;
}

.textarea {
    padding: .3rem;
}

.addtopic-p {
    padding: 10px 0px 10px;
}